.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
.quarto
count/*
refs/example_output/*
refs/test_functions.R
refs/monocle3-leafcutter.img
refs/mouse_genes.gtf
results/*
rObjects/*
scripts/cellbender/*
scripts/figures/*
scripts/*/outs/*
scripts/*/rsconnect/*
scripts/*/old_backup/*
Da_Mesquita.Rproj