# environment files
.Rproj.user
Da_Mesquita.Rproj

# PLX5622_mice
PLX5622_diet/counts
PLX5622_diet/results
PLX5622_diet/rObjects
PLX5622_diet/scripts/*/logs

# E3_E4_pilot
E3_E4_pilot/count
E3_E4_pilot/refs/example_output
E3_E4_pilot/refs/monocle3-leafcutter.img
E3_E4_pilot/refs/mouse_genes.gtf
E3_E4_pilot/refs/test_functions.R
E3_E4_pilot/results
E3_E4_pilot/rObjects
E3_E4_pilot/scripts/*/logs
