# environment files
.git
.gitignore
.Rhistory
.Rproj.user
Da_Mesquita.Rproj

# PLX5622_mice
counts
matrices
refs/.env
results
rObjects
scripts/01_Cell_Ranger/06*
scripts/01_Cell_Ranger/07*
scripts/01_Cell_Ranger/08*
scripts/01_Cell_Ranger/logs
scripts/02_R_Analysis/00*
scripts/02_R_Analysis/logs
scripts/02_R_Analysis/old
